body {
    background-color: green;
}
#card {
    height: 500px;
    background: white;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    position: relative;
}
i {
    color:red;
}
#heart2 {
    transform: rotate(-180deg);
    position: absolute;
    bottom: 0;
    margin-left: 330px;
    margin-bottom: 15px;
}
h1 {
    margin: auto;
    margin-top: 85px;
    font-size: 150px;
    text-align: center;
    font-family: 'Cardo', serif;
}